[submodule "src/benchmark/benchmark"]
	path = src/benchmark
	url = https://github.com/google/benchmark.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark
